:root {
    --couleur-fond-header-footer: #ffffff;
    --couleur-fond-section-1: #163853;
    --couleur-fond-section-2-depart: #cfcdcd;
    --couleur-fond-section-2-arrivee: #f6efef;
    --couleur-fond-timeline: #eae6e6;
    --couleur-texte-clair: #f9f8ff;
    --couleur-texte-sombre: #242424;
    --couleur-fond-block: #ffffff;
    --couleur-degrade-cta-depart: #696484;
    --couleur-degrade-cta-arrivee: #a3a4d9;
    --couleur-degrade-cta-hover-depart: #a29ace;
    --couleur-degrade-cta-hover-arrivee: #b6b9f9;
    --couleur-timeline: #8e86b5;
    --espacement-global: 0.625rem 2rem;
    --gap-menu: 1.25rem;
    --gap-grid: 3rem;
    --gap-texte: 1.5rem;
    --rayon-bordure-standard: 0.625rem;
    --padding-cta: 1.25rem 1.875rem;
    --padding-section: 5rem 0;
    --padding-grid: 2rem;
    --padding-block: 0.625rem;
    --colonne-gauche-grid-largeur: 2rem;
    --width-intro: 80%;
    --hauteur-header: 4.5rem;
    --hauteur-barre-active: 0.3125rem;
    --cercle-taille: 0.8rem;
    --epaisseur-trait: 0.2rem;
    --top-trait: 2.2rem;
    --epaisseur-bordure: 2px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    background-color: var(--couleur-fond-section-1);
    padding-top: var(--hauteur-header);
}

h1 {
    font-size: 3rem;
    color: var(--couleur-texte-clair);
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 2.5rem;
    color: #151515;
}

h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.3rem;
    color: var(--couleur-texte-clair);
}

a {
    color: var(--couleur-texte-sombre);
    text-decoration: none;
    font-size: 1.1rem;
}

a:hover {
    text-decoration: underline;
}

div {
    font-size: 1.3rem;
    color: var(--couleur-texte-sombre);
}

li {
    font-size: 1.3rem;
}

header,
footer {
    background-color: var(--couleur-fond-header-footer);
    padding: var(--espacement-global);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--hauteur-header);
    z-index: 2000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.burger-menu {
    display: none;
}

.menu {
    display: flex;
    align-items: center;
    gap: var(--gap-menu);
}

.menu a {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: var(--hauteur-barre-active);
    border-bottom: var(--hauteur-barre-active) solid transparent;
}

.menu a.active {
    border-bottom: var(--hauteur-barre-active) solid var(--couleur-timeline);
}

main {
    min-height: calc(100vh - var(--hauteur-header));
    display: flex;
    flex-direction: column;
}

section:last-child {
    flex-grow: 1;
}

section {
    padding: var(--padding-section);
}

.logo-llm {
    height: 3rem;
    width: auto;
    display: block;
}

.logo-linkedin {
    height: 2.8rem;
    width: auto;
    display: block;
}

.lien-icone {
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.introduction {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: var(--width-intro);
    margin: auto;
    gap: var(--gap-grid);
}

.introduction div {
    padding-right: 5rem;
    grid-column: 1/3;
    width: 100%;
}

.introduction h1 {
    margin-bottom: 1rem;
}

.introduction p {
    margin-bottom: 2rem;
    text-align: justify;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-justify: inter-word;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 1.5rem;
}

.introduction a {
    display: block;
    width: fit-content;
    margin: 0 auto;
    background: linear-gradient(var(--couleur-degrade-cta-depart), var(--couleur-degrade-cta-arrivee));
    color: var(--couleur-texte-clair);
    border-radius: 3.125rem;
    padding: var(--padding-cta);
    text-align: center;
}

.introduction a:hover {
    background: linear-gradient(var(--couleur-degrade-cta-hover-depart), var(--couleur-degrade-cta-hover-arrivee));
    text-decoration: none;
}

.introduction a:hover,
.introduction a:focus-visible {
    background: linear-gradient(var(--couleur-degrade-cta-hover-depart), var(--couleur-degrade-cta-hover-arrivee));
    text-decoration: none;
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.18);
}

.introduction img {
    grid-column: 3/4;
    display: block;
    margin: 0 auto;
    align-self: center;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.titre h1 {
    width: var(--width-intro);
    margin: auto;
}

.parcours {
    display: grid;
    background: linear-gradient(var(--couleur-fond-section-2-depart), var(--couleur-fond-section-2-arrivee));
    padding: 4rem;
    align-content: start;
    justify-self: center;
}

.parcours h2 {
    text-align: center;
    margin-bottom: 5rem;
}

.blocks-parcours {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: var(--gap-grid);
    text-align: center;
    position: relative;
}

.blocks-parcours>div {
    position: relative;
    padding: var(--padding-grid);
    background: var(--couleur-fond-block);
    color: #242424;
    border-radius: var(--rayon-bordure-standard);
}

.blocks-parcours p {
    color: var(--couleur-texte-sombre);
    text-align: justify;
    font-weight: bold;
    gap: 4rem;
}

.scroll-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 5rem;
}

.logo-parcours {
    display: block;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    width: 50%;
    height: auto;
    opacity: 0.85;
}

.scroll-text {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    width: 38%;
    height: auto;
    margin: auto;
    overflow: hidden;
    z-index: 2;
}

.scroll-text h2 {
    margin: 0 auto;
    white-space: nowrap;
    animation: marquee 8s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.cv-chronologie-container {
    position: relative;
    grid-row: 1;
    background-color: white;
    z-index: 1;
}

.cv-chronologie {
    display: grid;
    grid-template-columns: 1fr var(--cercle-taille) 1fr;
    grid-template-rows: repeat(20, auto);
    row-gap: 2rem;
    position: relative;
}

.point::before {
    content: '';
    grid-column: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0.5rem;
    width: var(--cercle-taille);
    height: var(--cercle-taille);
    background-color: var(--couleur-timeline);
    border-radius: 50%;
    border: var(--epaisseur-trait) solid var(--couleur-fond-timeline);
    box-shadow: 0 0 0 2px var(--couleur-timeline);
    box-sizing: content-box;
    z-index: 3;
    grid-column: auto !important;
    justify-self: auto !important;
    transition: transform 0.2s ease;
}

.chronologie {
    position: relative;
    background-color: white;
    z-index: 2;
}

.cv-chronologie-container::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(calc(var(--epaisseur-trait) / -2));
    top: 6rem;
    bottom: 2rem;
    border-left: var(--epaisseur-trait) solid var(--couleur-timeline);
    z-index: 0;
}

.chronologie[class*="form-"],
.chronologie[class*="exp-pro-"],
.chronologie[class*="stage-"] {
    grid-column: 1;
    justify-self: center;
    align-self: stretch;
    transform-origin: right center;
    width: 90%;
    text-align: left;
    padding: var(--padding-grid);
    border: var(--epaisseur-bordure) solid var(--couleur-fond-section-1);
    border-radius: var(--rayon-bordure-standard);

}

.chronologie.benev,
.chronologie[class*="athl-"] {
    grid-column: 3;
    justify-self: center;
    align-self: stretch;
    transform-origin: left center;
    width: 90%;
    text-align: left;
    padding: var(--padding-grid);
    border: var(--epaisseur-bordure) solid rgb(89, 37, 89);
    border-radius: var(--rayon-bordure-standard);
}

.cv-chronologie:has(.point.form-openclassroom:hover) .chronologie.form-openclassroom,
.cv-chronologie:has(.point.benev:hover) .chronologie.benev,
.cv-chronologie:has(.point.exp-pro-inge-oberthur:hover) .chronologie.exp-pro-inge-oberthur,
.cv-chronologie:has(.point.athl-pro-elite-rennes:hover) .chronologie.athl-pro-elite-rennes,
.cv-chronologie:has(.point.exp-pro-prof:hover) .chronologie.exp-pro-prof,
.cv-chronologie:has(.point.athl-pro-n2-rennes:hover) .chronologie.athl-pro-n2-rennes,
.cv-chronologie:has(.point.stage-inge-2:hover) .chronologie.stage-inge-2,
.cv-chronologie:has(.point.stage-inge-1:hover) .chronologie.stage-inge-1,
.cv-chronologie:has(.point.form-inge:hover) .chronologie.form-inge,
.cv-chronologie:has(.point.stage-licence:hover) .chronologie.stage-licence,
.cv-chronologie:has(.point.form-licence:hover) .chronologie.form-licence,
.cv-chronologie:has(.point.exp-pro-secr:hover) .chronologie.exp-pro-secr,
.cv-chronologie:has(.point.athl-pro-nancy:hover) .chronologie.athl-pro-nancy,
.cv-chronologie:has(.point.stage-bts:hover) .chronologie.stage-bts,
.cv-chronologie:has(.point.form-bts:hover) .chronologie.form-bts,
.cv-chronologie:has(.point.athl-pro-nantes:hover) .chronologie.athl-pro-nantes,
.cv-chronologie:has(.point.athl-pro-istres:hover) .chronologie.athl-pro-istres,
.cv-chronologie:has(.point.form-bac:hover) .chronologie.form-bac,
.cv-chronologie:has(.point.form-lycee:hover) .chronologie.form-lycee,
.cv-chronologie:has(.point.athl-edf-espoir:hover) .chronologie.athl-edf-espoir,
.cv-chronologie:has(.point.athl-edf-junior:hover) .chronologie.athl-edf-junior,
.cv-chronologie:has(.point.athl-edf-cadette:hover) .chronologie.athl-edf-cadette,
.cv-chronologie:has(.point.athl-pro-sable:hover) .chronologie.athl-pro-sable {
    background-color: var(--couleur-fond-timeline);
    border-radius: var(--rayon-bordure-standard);
    transform: scale(1.02);
}

.cv-chronologie:has(.point.form-openclassroom:hover) .point.form-openclassroom::before,
.cv-chronologie:has(.point.benev:hover) .point.benev::before,
.cv-chronologie:has(.point.exp-pro-inge-oberthur:hover) .point.exp-pro-inge-oberthur::before,
.cv-chronologie:has(.point.athl-pro-elite-rennes:hover) .point.athl-pro-elite-rennes::before,
.cv-chronologie:has(.point.exp-pro-prof:hover) .point.exp-pro-prof::before,
.cv-chronologie:has(.point.athl-pro-n2-rennes:hover) .point.athl-pro-n2-rennes::before,
.cv-chronologie:has(.point.stage-inge-2:hover) .point.stage-inge-2::before,
.cv-chronologie:has(.point.stage-inge-1:hover) .point.stage-inge-1::before,
.cv-chronologie:has(.point.form-inge:hover) .point.form-inge::before,
.cv-chronologie:has(.point.stage-licence:hover) .point.stage-licence::before,
.cv-chronologie:has(.point.form-licence:hover) .point.form-licence::before,
.cv-chronologie:has(.point.exp-pro-secr:hover) .point.exp-pro-secr::before,
.cv-chronologie:has(.point.athl-pro-nancy:hover) .point.athl-pro-nancy::before,
.cv-chronologie:has(.point.stage-bts:hover) .point.stage-bts::before,
.cv-chronologie:has(.point.form-bts:hover) .point.form-bts::before,
.cv-chronologie:has(.point.athl-pro-nantes:hover) .point.athl-pro-nantes::before,
.cv-chronologie:has(.point.athl-pro-istres:hover) .point.athl-pro-istres::before,
.cv-chronologie:has(.point.form-bac:hover) .point.form-bac::before,
.cv-chronologie:has(.point.form-lycee:hover) .point.form-lycee::before,
.cv-chronologie:has(.point.athl-edf-espoir:hover) .point.athl-edf-espoir::before,
.cv-chronologie:has(.point.athl-edf-junior:hover) .point.athl-edf-junior::before,
.cv-chronologie:has(.point.athl-edf-cadette:hover) .point.athl-edf-cadette::before,
.cv-chronologie:has(.point.athl-pro-sable:hover) .point.athl-pro-sable::before,
.cv-chronologie:has(.chronologie.form-openclassroom:hover) .point.form-openclassroom::before,
.cv-chronologie:has(.chronologie.benev:hover) .point.benev::before,
.cv-chronologie:has(.chronologie.exp-pro-inge-oberthur:hover) .point.exp-pro-inge-oberthur::before,
.cv-chronologie:has(.chronologie.athl-pro-elite-rennes:hover) .point.athl-pro-elite-rennes::before,
.cv-chronologie:has(.chronologie.exp-pro-prof:hover) .point.exp-pro-prof::before,
.cv-chronologie:has(.chronologie.athl-pro-n2-rennes:hover) .point.athl-pro-n2-rennes::before,
.cv-chronologie:has(.chronologie.stage-inge-2:hover) .point.stage-inge-2::before,
.cv-chronologie:has(.chronologie.stage-inge-1:hover) .point.stage-inge-1::before,
.cv-chronologie:has(.chronologie.form-inge:hover) .point.form-inge::before,
.cv-chronologie:has(.chronologie.stage-licence:hover) .point.stage-licence::before,
.cv-chronologie:has(.chronologie.form-licence:hover) .point.form-licence::before,
.cv-chronologie:has(.chronologie.exp-pro-secr:hover) .point.exp-pro-secr::before,
.cv-chronologie:has(.chronologie.athl-pro-nancy:hover) .point.athl-pro-nancy::before,
.cv-chronologie:has(.chronologie.stage-bts:hover) .point.stage-bts::before,
.cv-chronologie:has(.chronologie.form-bts:hover) .point.form-bts::before,
.cv-chronologie:has(.chronologie.athl-pro-nantes:hover) .point.athl-pro-nantes::before,
.cv-chronologie:has(.chronologie.athl-pro-istres:hover) .point.athl-pro-istres::before,
.cv-chronologie:has(.chronologie.form-bac:hover) .point.form-bac::before,
.cv-chronologie:has(.chronologie.form-lycee:hover) .point.form-lycee::before,
.cv-chronologie:has(.chronologie.athl-edf-espoir:hover) .point.athl-edf-espoir::before,
.cv-chronologie:has(.chronologie.athl-edf-junior:hover) .point.athl-edf-junior::before,
.cv-chronologie:has(.chronologie.athl-edf-cadette:hover) .point.athl-edf-cadette::before,
.cv-chronologie:has(.chronologie.athl-pro-sable:hover) .point.athl-pro-sable::before {
    transform: translateX(-50%) scale(1.2);
}

.point.benev::before,
.point[class*="athl-"]::before {
    background-color: rgb(89, 37, 89);
    box-shadow: 0 0 0 3px rgb(89, 37, 89);
}

.point[class*="form-"]::before,
.point[class*="exp-pro-"]::before,
.point[class*="stage-"]::before {
    background-color: var(--couleur-fond-section-1);
    box-shadow: 0 0 0 3px var(--couleur-fond-section-1);
}

.chronologie-inge-titre {
    grid-column: 1;
    grid-row: 1;
}

.chronologie-volley-titre {
    grid-column: 3;
    grid-row: 1;
}

.chronologie.form-openclassroom,
.point.form-openclassroom::before {
    grid-row: 2;
}

.chronologie.benev,
.point.benev::before {
    grid-row: 2 / 6;
}

.chronologie.exp-pro-inge-oberthur,
.point.exp-pro-inge-oberthur::before {
    grid-row: 3 / 10;
}

.chronologie.athl-pro-elite-rennes,
.point.athl-pro-elite-rennes::before {
    grid-row: 6;
}

.chronologie.exp-pro-prof,
.point.exp-pro-prof::before {
    grid-row: 10;
}

.chronologie.athl-pro-n2-rennes,
.point.athl-pro-n2-rennes::before {
    grid-row: 7 / 12;
}

.chronologie.form-inge,
.point.form-inge::before {
    grid-row: 11;
}

.chronologie.form-licence,
.point.form-licence::before {
    grid-row: 12;
}

.chronologie.exp-pro-secr,
.point.exp-pro-secr::before {
    grid-row: 13;
}

.chronologie.athl-pro-nancy,
.point.athl-pro-nancy::before {
    grid-row: 14;
}

.chronologie.form-bts,
.point.form-bts::before {
    grid-row: 14;
}

.chronologie.athl-pro-nantes,
.point.athl-pro-nantes::before {
    grid-row: 15;
}

.chronologie.athl-pro-istres,
.point.athl-pro-istres::before {
    grid-row: 16 / 18;
}

.chronologie.form-bac,
.point.form-bac::before {
    grid-row: 17;
}

.chronologie.form-lycee,
.point.form-lycee::before {
    grid-row: 18;
}

.chronologie.athl-pro-sable,
.point.athl-pro-sable::before {
    grid-row: 18;
}

dialog[open] {
    margin: auto !important;
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
    overflow: visible !important;
    display: inline-block !important;
    line-height: 0 !important;
    box-shadow: none !important;
    outline: none !important;
}

dialog[open] img {
    display: block !important;
    width: auto !important;
    height: auto !important;
    max-width: 90vw !important;
    max-height: 90vh !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 8px;

    aspect-ratio: auto !important;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.9) !important;
}

img[onclick] {
    cursor: pointer;
}

.liste-item {
    grid-row: 2;
    width: 80%;
    margin: auto;
}

.liste-item.savoir-etre,
.liste-item.savoir-faire,
.liste-item.loisirs {
    grid-row: auto;
    grid-column: auto;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 3.5rem;
}

.liste-savoir {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    width: 80%;
    margin-bottom: 1.5rem;
    gap: var(--gap-grid);
    align-items: start;
}

.liste-savoir.no-hover>ul {
    line-height: 2;
}

.savoir {
    list-style: none;
    color: var(--couleur-texte-sombre);
    width: 100%;
    margin: 0;
    text-align: left;
    contain: layout;
    padding: var(--padding-block) var(--padding-block) var(--padding-block) 2.5rem;
    border-radius: var(--rayon-bordure-standard);
}

.savoir.savoir-etre>h4,
.savoir.savoir-faire>h4 {
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.savoir li {
    line-height: 2rem;
}

.savoir li:not(.pays)::before {
    content: "◆";
    margin-right: 10px;
    font-weight: bold;

}

.savoir.no-hover li:not(.pays)::before {
    margin-left: -1rem;
}

[id^="ancre-"] {
    display: block;
    scroll-margin-top: 150px;
}

.savoir-etre {
    border: 2px solid var(--couleur-fond-section-1);
    border-left-width: 15px;
}

.savoir-faire {
    border: 2px solid var(--couleur-timeline);
    border-left-width: 15px;
}

.blocks-parcours.formation {
    display: grid;
    grid-template-columns: 1fr;
}

.timeline-item.formations {
    grid-column: 1;
}

.diplome {
    display: block;
    grid-column: 1;
    grid-row: 2;
    width: 40%;
    height: auto;
    background: transparent !important;
    padding: 0 !important;
    margin: auto !important;
    border: none !important;
}

.diplome img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;
    border-radius: 8px;
}

.blocks-parcours.experience-professionnelle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-content: start;
    justify-self: center;
}

.blocks-parcours.benevole {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto;
    align-items: stretch;
}

.blocks-parcours.benevole .timeline-item {
    grid-column: 1;
    grid-row: 1;
}

.article-rec {
    background-color: #212121;
    color: var(--couleur-texte-clair);
    font-family: Arial, sans-serif;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.titre-article {
    background-color: #997f0f;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.titre-article h3 {
    color: var(--couleur-texte-clair);
    margin: 0;
}

.contenu {
    padding: 0 2rem;
}

.contenu p {
    margin: 0 0 1rem 0;
    line-height: 1.6;
    color: var(--couleur-texte-clair);
    text-align: justify;
    font-size: 1.1rem;
}

.images-article {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1.5rem;

}

.images-article img {
    width: 45%;
    height: auto;
    display: block;
}

.citation {
    font-style: italic;
    line-height: 1.6;
    color: var(--couleur-texte-clair);
}

.auteur {
    font-weight: bold;
    font-style: normal;
    margin-top: 1rem;
    color: var(--couleur-texte-clair);
}

.citation p,
.auteur p {
    text-align: center;
}


.blocks-parcours.benevole .photos,
.blocks-parcours.athlete .photos,
.blocks-parcours.interets .photos {
    display: grid;
    height: 100%;
    background-color: transparent;
    place-items: center;
    padding: 0;
    margin: 0;
}

.blocks-parcours.athlete .photos.pro {
    grid-column: 2;
    grid-row: 1;
}

.blocks-parcours.athlete .photos.edf {
    grid-column: 1;
    grid-row: 2;
}

.blocks-parcours.athlete {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    /* C'est la ligne clé pour égaliser les hauteurs */
    align-items: stretch;
}

.blocks-parcours.athlete .timeline-item.pro {
    grid-column: 1;
    grid-row: 1;
}

.blocks-parcours.athlete .timeline-item.edf {
    grid-column: 2;
    grid-row: 2;
}

.photos.pro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.photos.pro img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.photos.edf {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    align-items: center;
}

.edf-1 {
    grid-column: 1/3;
    grid-row: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.edf-2 {
    grid-column: 1/3;
    grid-row: 2;
}

.edf-1 img,
.edf-2 img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.photos.interets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.photos.interets img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.blocks-parcours.competences,
.blocks-parcours.interets {
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    width: 70%;
    justify-self: center;
    line-height: 1.5rem;
}

.blocks-parcours.athlete ul {
    text-align: justify;
    margin-top: 0.5rem;
}

.blocks-parcours.athlete .intro {
    text-align: justify;
    padding-bottom: 2rem;
    --padding-left-right: calc(var(--colonne-gauche-grid-largeur) / 2 + var(--padding-block) - var(--cercle-taille) / 2);
    padding: 0 var(--padding-left-right) 1.5rem var(--padding-left-right);
}

.savoir:not(.no-hover),
.timeline-parcours,
.chronologie,
.photos img,
.introduction img {
    transition: transform 0.2s ease, background-color 0.2s ease;
    will-change: transform;
}

.savoir:not(.no-hover):hover,
.timeline-parcours:hover,
.chronologie:hover,
.savoir:not(.no-hover):focus-within,
.timeline-parcours:focus-within,
.chronologie:focus-within {
    background-color: var(--couleur-fond-timeline);
    border-radius: var(--rayon-bordure-standard);
    transform: scale(1.02);
}

.photos img:hover,
.introduction img:hover,
.photos img:focus-visible,
.introduction img:focus-visible {
    transform: scale(1.05);
}

.timeline-item,
.cv-chronologie-container,
.liste-item,
.contact-info {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.timeline-item.experience-professionnelle {
    grid-column: 3/5;
    grid-row: 1;
}

.timeline-item.formation {
    grid-column: 1/3;
    grid-row: 2;
}

.timeline-item.athlete {
    grid-column: 3/5;
    grid-row: 2;
}

.timeline-item.benevole {
    grid-column: 2/4;
    grid-row: 3;
}

.timeline-parcours {
    position: relative;
    display: grid;
    grid-template-columns: var(--colonne-gauche-grid-largeur) 1fr;
    align-items: start;
    margin-bottom: 1.5rem;
    padding: var(--padding-block);
    border-radius: var(--rayon-bordure-standard);
    text-align: left;
    contain: layout;
}

.timeline-parcours::before {
    content: '';
    grid-column: 1;
    justify-self: center;
    width: var(--cercle-taille);
    height: var(--cercle-taille);
    background-color: var(--couleur-timeline);
    border-radius: 50%;
    border: var(--epaisseur-trait) solid var(--couleur-fond-timeline);
    box-shadow: 0 0 0 0.125rem var(--couleur-timeline);
    margin-top: 0.25rem;
}

.timeline-parcours::after {
    content: '';
    position: absolute;
    left: calc(var(--colonne-gauche-grid-largeur) / 2 + var(--padding-block));
    transform: translateX(-50%);
    top: var(--top-trait);
    bottom: var(--padding-block);
    border-left: var(--epaisseur-trait) solid var(--couleur-timeline);
}

.timeline-parcours>.date,
.timeline-parcours>.poste,
.timeline-parcours>.niveau,
.timeline-parcours>.lieu,
.timeline-parcours>.detail,
.chronologie>.date,
.chronologie>.poste,
.chronologie>.niveau,
.chronologie>.lieu,
.chronologie>.detail,
.stage-inge>.date,
.stage-inge>.poste,
.stage-inge>.niveau,
.stage-inge>.lieu {
    grid-column: 2;
    margin: 0;
    text-align: justify;
}

.timeline-parcours>.date,
.timeline-parcours>.poste,
.timeline-parcours>.niveau,
.timeline-parcours>.lieu,
.timeline-parcours>.detail {
    padding-left: 1rem;
}

.timeline-parcours>.date,
.chronologie>.date {
    font-size: 1.2rem;
}

.stage,
.edf {
    margin-top: 2rem;
}

.stage>.date,
.edf>.date {
    font-size: 1.1rem;
}

.timeline-parcours>.poste,
.chronologie>.poste,
.stage>.poste,
.edf>.poste {
    grid-column: 2;
    margin: 0;
    text-align: left;
    color: var(--couleur-fond-section-1);
    font-weight: bold;
}

.timeline-parcours>.poste,
.chronologie>.poste {
    font-size: 1.3rem;
}

.stage>.poste,
.edf>.poste {
    font-size: 1.2rem;
}

.timeline-parcours>.niveau,
.chronologie>.niveau,
.stage>.niveau,
.edf>.niveau {
    color: var(--couleur-fond-section-1);
    font-weight: normal;
    text-align: left;
}

.timeline-parcours>.niveau,
.chronologie>.niveau {
    font-size: 1.2rem;
}

.stage>.niveau,
.edf>.niveau {
    font-size: 1.1rem;
}

.timeline-parcours>.lieu,
.chronologie>.lieu,
.stage>.lieu,
.edf>.lieu {
    font-size: 1.1rem;
    font-style: italic;
    text-align: left;
}

.timeline-parcours>.lieu,
.chronologie>.lieu {
    font-size: 1.1rem;
}

.stage>.lieu,
.edf>.lieu {
    font-size: 1rem;
}

.timeline-parcours>.detail,
.chronologie>.detail {
    padding-top: 0.2rem;
    line-height: 1.6;
    padding-left: 4rem;
}

.timeline-parcours li,
.chronologie li {
    font-size: 1.1rem;
}

.voir-detail {
    display: block;
    margin-left: auto;
    /* Pousse l'élément vers la droite */
    width: max-content;
    /* L'élément s'adapte à la largeur du texte */
    text-align: right;
    grid-column: 2;
    color: #3b3c3c;
    font-style: italic;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
    margin-right: 1rem;
    text-decoration: underline;
    font-weight: bold;
}

.stage>.voir-detail,
.edf>.voir-detail {
    font-size: 1rem;
}

.btn-telechargement {
    display: inline-block;
    background: linear-gradient(var(--couleur-degrade-cta-depart), var(--couleur-degrade-cta-arrivee));
    color: var(--couleur-texte-clair);
    padding: 1rem 2rem;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: transform 0.2s ease, background 0.2s ease;
    margin: auto;
    margin-top: 5rem;
}

.btn-telechargement:hover {
    background: linear-gradient(var(--couleur-degrade-cta-hover-depart), var(--couleur-degrade-cta-hover-arrivee));
    transform: scale(1.05);
    text-decoration: none;
}

.slider {
    width: 850px;
    height: 478px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 8px;
}

.slides {
    display: flex;
    transition: transform .5s ease;
    border-radius: 8px;
}

.slides img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: contain;
    object-position: center;
    border-radius: 8px;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
    opacity: .35;
    transition: .3s;
}

.dot.active {
    opacity: 1;
}

.article-press {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8%;
    padding: 3rem;
}

.article-press h3 {
    flex-basis: 100%;
    text-align: center;
    color: var(--couleur-texte-clair);
    font-size: 3.5rem;
    margin: 0 0 4rem 0;
}

.article-container,
.video-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.image-article,
.image-page,
video {
    width: auto;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: auto;
}

.article-container a:hover .image-article,
.article-container a:hover .image-page,
.video-container:hover video {
    transform: scale(1.05);
}

.article-container h4,
.video-container h4 {
    margin-top: 10px;
    color: var(--couleur-texte-clair);
}

.article-container p {
    padding-top: 1rem;
}

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.icone-mail:hover .logo-mail,
.icone-telephone:hover .logo-telephone,
.icone-maison:hover .logo-maison,
.icone-linkedin:hover .logo-linkedin,
.icone-mail:hover+p,
.icone-telephone:hover+p,
.icone-maison:hover+p,
.icone-linkedin:hover+p {
    opacity: 0.7;
    transform: scale(1.1);
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: var(--padding-grid);
    text-align: center;
    color: var(--couleur-texte-sombre);
    background-color: var(--couleur-fond-block);
    border-radius: var(--rayon-bordure-standard);
}

.contact-info .mail {
    grid-column: 1;
    grid-row: 1;
}

.contact-info .tel {
    grid-column: 2;
    grid-row: 1;
}

.contact-info .home {
    grid-column: 1;
    grid-row: 2;
    margin-top: 5rem;
}

.contact-info .social {
    grid-column: 2;
    grid-row: 2;
    margin-top: 5rem;
}

.contact-info p {
    color: var(--couleur-texte-sombre);
    font-size: 2rem;
}

.contact-info .home img,
.contact-info .mail img {
    display: block;
    margin: 0 auto;
    width: 3rem;
    height: auto;
}

.contact-info .tel img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 3rem;
}

.contact-info .social img {
    display: block;
    margin: 0 auto;
    width: 3rem;
    height: auto;
}

nav.is-overflowing .burger-menu {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 4.5rem !important;
    padding: 0 1rem !important;
    margin: 0 !important;
}

nav.is-overflowing .menu-text {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--couleur-texte-sombre);
    margin-right: 0.5rem;
}

nav.is-overflowing .burger-icon {
    width: 3rem;
    height: auto;
    display: block;
}

nav.is-overflowing .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(240, 242, 245, 0.95);
    padding: 1.875rem 0;
    z-index: 1000;
    text-align: center;
    box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.1);
    max-height: calc(100vh - var(--hauteur-header));
    overflow-y: auto;
}

nav.is-overflowing .menu a {
    font-size: 2rem;
}

nav.is-overflowing .menu.active {
    display: flex !important;
}

@media screen and (max-width: 1024px) {

    .introduction {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width: 90%;
        padding: 4rem var(--padding-grid);
        gap: 3rem;
    }

    .introduction div {
        display: flex;
        flex-direction: column;
        /* L'écart uniforme entre h1, p et a */
        padding-right: 0;
        text-align: center;
    }

    .introduction div a {
        display: block !important;
        margin-top: 1rem;
    }

    .introduction img {
        grid-column: 1;
        order: -1;
        margin: 0 auto;
        display: block;
        width: 350px;
        height: 350px;
    }

    .contact-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        width: 75%;
        margin: 0 auto;
    }

    .contact-info .mail {
        grid-column: 1;
        grid-row: 1;
    }

    .contact-info .tel {
        grid-column: 1;
        grid-row: 2;
        margin-top: 4rem;
    }

    .contact-info .home {
        grid-column: 1;
        grid-row: 3;
    }

    .contact-info .social {
        grid-column: 1;
        grid-row: 4;
    }

    .blocks-parcours {
        grid-template-columns: 1fr !important;
        /* Force une seule colonne */
    }

    .blocks-parcours.formation {
        display: flex !important;
        flex-direction: column !important;
    }

    .diplome {
        width: 60%;
    }

    .liste-item,
    .timeline-item,
    .timeline-item.athlete,
    .timeline-item.benevole {
        grid-column: 1 !important;
        grid-row: auto !important;
    }

    .timeline-item.pro {
        grid-column: 1 !important;
        grid-row: 1 !important;
    }

    .photos.pro {
        grid-column: 1 !important;
        grid-row: 2 !important;
    }

    .timeline-item.edf {
        grid-column: 1 !important;
        grid-row: 3 !important;
    }

    .photos.edf {
        grid-column: 1 !important;
        grid-row: 4 !important;
    }

    .article-press {
        display: flex;
        flex-direction: column;
    }

    .article-container:nth-of-type(1) {
        order: 1;
    }

    .video-container {
        order: 2;
    }

    .article-container:nth-of-type(2) {
        order: 3;
    }

    .article-container,
    .video-container {
        width: 90%;
        margin: 0 auto 30px auto;
    }

    .image-article,
    .image-page {
        width: 60%;
        height: auto;
        border-radius: 8px;
        display: block;
        margin: 0 auto;
    }

    .video {
        width: 80%;
        max-width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 8px;
        display: block;
        margin: 0 auto;
    }

    .article-rec {
        width: 90%;
    }

    .photos.interets img {
        height: 200px;
    }

    h1 {
        font-size: 4rem;
    }

    .titre h1 {
        font-size: 2.7rem;
    }

    h2 {
        font-size: 2.7rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.7rem;
    }

    .introduction p {
        font-size: 1.8rem;
    }

    p {
        font-size: 2rem;
    }

    a {
        font-size: 1.6rem;
    }

    li {
        font-size: 1.5rem;
    }

    .intro p {
        font-size: 1.8rem;
    }

    .blocks-parcours.competences {
        width: 100%;
    }

    .liste-savoir {
        margin-bottom: 3rem;
    }

    .voir-detail {
        font-size: 1.3rem;
    }

    .stage>.voir-detail,
    .edf>.voir-detail {
        font-size: 1.2rem;
    }

    .cv-chronologie {
        grid-template-columns: minmax(0, 1fr) var(--cercle-taille) minmax(0, 1fr) !important;
        column-gap: 5px !important;
    }

    .timeline-parcours>.date,
    .chronologie>.date {
        font-size: 1.4rem;
    }

    .stage>.date,
    .edf>.date {
        font-size: 1.3rem;
    }

    .timeline-parcours>.poste,
    .chronologie>.poste {
        font-size: 1.6rem;
    }

    .stage>.poste,
    .edf>.poste {
        font-size: 1.5rem;
    }

    .timeline-parcours>.niveau,
    .chronologie>.niveau {
        font-size: 1.5rem;
    }

    .stage>.niveau,
    .edf>.niveau {
        font-size: 1.4rem;
    }

    .timeline-parcours>.lieu,
    .chronologie>.lieu {
        font-size: 1.4rem;
    }

    .stage>.lieu,
    .edf>.lieu {
        font-size: 1.3rem;
    }

    .timeline-parcours>.detail,
    .chronologie>.detail {
        font-size: 1.4rem;
    }

    .logo-parcours {
        width: 80%;
        height: auto;
    }

    .scroll-text {
        width: 60%;
        height: auto;
    }

    .blocks-parcours>div {
        padding: var(--padding-grid) 1rem var(--padding-grid) 1rem;
    }

    .chronologie[class*="form-"],
    .chronologie[class*="exp-pro-"],
    .chronologie[class*="stage-"],
    .chronologie.benev,
    .chronologie[class*="athl-"] {
        width: 90%;
    }

}